.homeStart{
    background-image: url('../images/background/background3.jpg');

    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center center;
    padding: 270px 0 240px 0;
    position: relative;
    height: 100vh;
}




.Hr{
    border: 2px solid coral;
    
    width: 95%;
    margin: 2rem auto;

}

.start{
    width: 800px;   
    /* margin: 0 auto; */
}

.overlay{
    background: var(--black-clr);
    opacity: 0.0001;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.startText{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.startText .startTag h3{
    font-size: 1.5rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.startText .divider{
    width: 5rem;
}

.startText .startHead h1{
    font-size: 3rem;  
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
}

@media (max-width: 1000px){
    .startText{
        width: 60vw;
        
    }
}

@media (max-width: 980px){
    .startText .startTag h3{
        font-size: 1.2rem;
    }
    .startText .startHead h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 610px){
    .homeStart{
        background-position: right;
    }

    .startText{
        margin-left: 22vh;
    }
}


@media (max-width: 420px){
    .startText .startTag h3{
        margin-top: 10px;
    }
}

@media (max-width: 361px){
    .startText .startTag h3{
        margin-top: 0px;
    }
}

.startTag{
    padding: 10px;
}

.quote{
    /* margin-bottom: 5rem; */
    padding: 5rem 0;
    background: beige;
}

.quoteContent{
    display: flex;
    width: 70vw;    
    margin: 0 auto;
}

.qImg{
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    font-size: 5rem;
    
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 50%;
  color: transparent;
    
}

.qText{
    text-align: center;
    width: 80%;
}

.qText h2{
    margin-bottom: 2rem;
    line-height: 1.5    ;
}

.qText p {
    font-size: 1.5rem;
}

@media (max-width: 570px){
    .qImg{
        font-size: 3rem;
    }
}

.homeContainer{
    width: 100%;
    overflow-x: hidden;
    /* height: 650vh; */
    padding-bottom: 3rem;
    background: var(--primary-bg-clr); 
    
}

/* @media (max-width : 800px) {
    .homeContainer{
        overflow-y: hidden;
    }
} */

.homeContainer::-webkit-scrollbar{
    display: none;
}
.videoContainer{
    width: 100%;
    height: 37rem;
    position: relative;
    background: var(--black-clr);
}

.videoText{
    
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    
}

.videoText h1{   
    margin: 0;
}

.gi{
    z-index: 2;
}

.blendDiff{
    mix-blend-mode: difference;
}

.divider{
    display: flex;
    text-align: center;    
    /* border-top: 3px solid var(--golden-clr); */
    background: var(--gradient);
    height: 3px;
    width: 21%;
    margin: 0 auto;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    /* opacity: 0.5; */
    z-index: 0;
    
}

.container::-webkit-scrollbar{
    display: none;
}   

.gallery{    
    margin: 0.5em;
    margin-bottom: 3em;
    border: 1px solid var(--white-clr);
    padding-bottom: 2em;
}

