:root {
  --primary-color: #425b84;
  --secondary-color: ghostWhite;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 'Arial', sans-serif; 
  
  padding-bottom: 50px;
}

#timeline{
  background: var(--bg-about);  
  height: 100%;
  overflow-x: hidden;
  padding-top: 5rem;
}


@media (max-width: 768px)
{
  #timeline{
    height: 520vh;
  }
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {  
  padding: 50px 0;
}

/* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translate(-200px, 0);
}


/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -19px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -19px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: coral;
}


@media(max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media(max-width: 600px) {

  #timeline{
    
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #timeline ul li {
    margin-left: 1.25rem;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}

/* About Us */

.aboutUsImage{
  background-image: url('./hall.jfif');
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(50deg);
    filter: contrast(120%);    
  padding: 230px 0px 190px 0px;

}

.imgText{
  text-align: center;
  color: black;
  text-shadow: rgb(226, 226, 226) 0px 5px;
  font-family: Otomanopee One, sans-serif;
}

.aboutUs{
  display: flex;
}

.aboutUs .box{
  padding: 130px 100px;
  padding-bottom: 100px;
}

.aboutUs h1{
  margin: 0;
  margin-bottom: 1rem;
}

.aboutUs .box .divider{
  width: 15%;
  margin: 0;
  margin-bottom: 2rem;
}

.aboutUs p{
  width: 70%;
}

.aboutUs .box:nth-child(2){
  padding-top: 130px;
  background: white;
  padding-left: 0;
}

.aboutUs .box:nth-child(2) img{
  border-radius: 3%;
  box-shadow: 10px 10px 10px 1px grey;
}


.aboutUsMV{
  display: flex;
}

.aboutUsMV .box .divider{
  width: 15%;
  margin: 0;
  margin-bottom: 2rem;
}

.aboutUsMV .box:nth-child(2){
  padding-top: 130px;
  background: white;
  padding-left: 0;
}